@estilles:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GH_TOKEN}

registry=https://smbuild.jfrog.io/artifactory/api/npm/siteminder-npm/
always-auth=true
email=johnny.estilles@siteminder.com
//smbuild.jfrog.io/artifactory/api/npm/siteminder-npm/:_auth="${JFROG_TOKEN}"
